<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Horario de clases
    </ion-title>
  </ion-toolbar>
  <ion-segment [value]="valueSegment">
    <ion-segment-button value="view" (click)="valueSegment = 'view'">
      <ion-label>Ver</ion-label>
    </ion-segment-button>
    <ion-segment-button value="add" (click)="valueSegment = 'add'">
      <ion-label>Agregar</ion-label>
    </ion-segment-button>
    <ion-segment-button value="edit" (click)="valueSegment = 'edit'">
      <ion-label>Edit</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [ngSwitch]="valueSegment">
    <app-add  *ngSwitchCase="'add'"></app-add>
  </ion-list>
</ion-content>
